:root{
    --bg-color: #f4f7f6;
    --text-color: #2d3436;
    --white: #ffffff;
    --sombra: 0 4px 6px rgba(0,0,0,0.1);
    --transition: all 0.1s;
    --color-excel: #217356;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}